/* Enter your custom styles here */


/*<! ----- Home Page Custom CSS   ---------->*/

.bulletlist {
    display: list-item;
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 20px;
}

.pageHeader .sapMPageHeader {
    background-color: #434648 !important;
}


/* Page Navigation Back Button */

.sapMBtnBack .sapMBtnIcon {
    color: #ffffff !important;
}

.sapMBtnBack .sapMBtnIcon:hover {
    color: #f3f20a !important;
    background-color: #434648 !important;
    border-color: #434648 !important;
}


/* Home Button */

.sapMBtn .sapMBtnIcon:hover {
    color: #f3f20a !important;
    background-color: #434648 !important;
    border-color: #434648 !important;
}

.pageHeader .sapMIBar-CTX .sapMTitle {
    color: #ffffff !important;
}

.barIcon .sapMBtnIcon {
    color: #ffffff !important;
}

.sapFCard .sapFCardHeader {
    background-color: #434648 !important;
}

.sapFCard .sapFCardHeader .sapFCardHeaderText {
    color: #ffffff !important;
}

.sapFCard .sapFCardHeader .sapFCardHeaderText .sapFCardTitle {
    color: #ffffff !important;
}

.sapFCard .sapFCardHeader .sapFCardSubtitle {
    color: #ffffff !important;
}

.sapFCard .sapFCardHeader .sapFCardIcon.sapFAvatar .sapUiIcon {
    color: #ffffff !important;
}